*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Header*/
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    padding: 2rem 1rem;
    background: #02213d;
    color: #eabb0e;
    width:auto ;
}

/*Logo*/
header a img{
    margin-left: 0;
    width: 50%;
    display: block;
}

/*Navigation*/
nav{
    display:flex;
    gap:40px;
    
}
.nav{
    text-decoration:none;
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    position:relative;
    transition:0.3s;
}
.nav:hover{
    color:#ffe83b;
    border-bottom:2px solid #ffe83b ;
    transition:0.3s;
}
.nav.accessing{
    color:#ffe83b;
    border-bottom:2px solid #ffe83b ;
}
.contact{
    background-color:#ffe83b;
    color: #000000;
    font-size:20px;
    font-weight:bold;
    position:relative;
    border-radius: 25px;
    width: 100px;
    text-decoration:none;   
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background-color: #ccecff;
    color: #333;
}


footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    padding: 2rem 1rem;
    background: #02213d;
    color: white;
    width:auto ;
}